<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="steuerung.endpunkt" value="localhost:8000"/>
    <add key="servicedesk.endpunkt" value="localhost:9000"/>
  </appSettings>
  
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
</configuration>
