<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="steuerung.endpunkt" value="http://localhost:8000"/>
  </appSettings>
  
  <startup> 
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>

  <system.diagnostics>
    <trace autoflush="true"/>
    <sources>
      <source name="mam.steuerung.serverportal">
        <listeners>
          <remove name="Default"/>
          <add name="textfileListener" />
        </listeners>
      </source>
    </sources>

    <sharedListeners>
      <add name="textfileListener" type="System.Diagnostics.TextWriterTraceListener" initializeData="mam.log" />
    </sharedListeners>
  </system.diagnostics>
</configuration>
